

.container {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.main-header__img {
    height: 80px;
    width: 80px;
}

.main-header__img--2 {
    height: 30px;
    width: 30px;
}



.taskMe {
    display: flex;
    align-items: center;
}

.main-header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
   
}

.main-header__newNotification {
    display: flex;
    align-items: center;
}


.main-header__form{
    margin-left: 130px;
}
