.container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.main-header__img {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

.main-header__img--2 {
    height: 22px;
    width: 22px;
}



.taskMe {
    display: flex;
    align-items: center;
}

.main-header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;

}

.main-header__newNotification {
    display: flex;
    align-items: center;
}




.main-header__form {
    position: relative;
    margin-left: 150px;
}

.main-header__input {
    background-color: rgb(247, 241, 241);
    font-size: 16px;
    border-radius: 20px;
    width: 400px;
    height: 40px;
    font-family: Roboto;
    color: rgb(143, 143, 142);
    padding-left: 40px;
    font-weight: 400;
  
}

.main-header__input::placeholder {
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    color: rgb(141, 141, 141);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.profile__container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 255);
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10px;
    margin-right: 35px;

}

.main-header__img-profile {
    font-family: Roboto;
    padding-top: 15px;
    color: white;
}

.main-header__span {
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-bottom: 10px;

}



