.main-content {
    display: flex;
    gap: 150px;
}

.main-content__big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.input-group {
    position: relative;
}

.input {
    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    width: 500px;
    height: 50px;
    padding-left: 20px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    font-family: Roboto;
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-container {
    height: 200px;
    width: 523px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #e8e8e8;
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: black;
    padding: 0 .2em;
    color: #e8e8e8;
}

.resizable-input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    background-color: #f1f5f9;
    resize: horizontal;
    overflow: auto;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textarea {

    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;

    max-height: 120px;
    max-width: 500px;
    min-height: 50px;
    min-width: 500px;

    padding-left: 20px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea::placeholder {
    font-family: Roboto;
    position: absolute;
    left: 15px;
    color: #e8e8e8;

    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-input {
    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    width: 226px;
    height: 50px;
    padding-left: 20px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-right: 10px;
}

.main-input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.5);
}

.main-input:focus {
    border-color: #00ff75;
    outline: none;
}

.data-container {
    display: flex;
    gap: 10px;
}

.main-select {
    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background-color: #f5f5f5;
    width: 100%;
    width: 526px;
    height: 50px;
    padding-left: 15px;
    font-size: 1rem;
    color: #ffffff;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #080101;
    background-size: 20px;
    padding-right: 30px;

}

.main-option {
    font-family: Roboto;
    font-size: 1rem;
    color: #f5f5f5;
}

.main-select__container {
    position: relative;
    display: inline-block;
}

.main-select__container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    /* Отступ от правого края */
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    transform: translateY(-50%);
    pointer-events: none;
}

.task-category {
    position: relative;
}

.responsible-category {
    position: relative;
    display: flex;
    gap: 50px;
    margin-left: 90px;
}

.black-button {
    background: none;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border-color: #ffffff;
    box-shadow: none;
    margin-top: 10px;
}

.responsible__button {
    font-family: Roboto;
    color: #ffffff;
    font-size: 26px;
}

.main-content__navigation {
    margin-top: 30px;
}



.main__content__img {
    width: 25px;
    height: 25px;
}

.main__content__img--task2{
    width: 25px;
    height: 25px;
   
}


.main-content__item {
    width: 150px;
    padding-top: 35px;
}

.main-content__button {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: background-color 0.3s ease;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 0;
}

.min-gap{
  gap: 10px;
 
}

.main-content__button--special{

}

.main-content__button:hover {
    background-color: #e0f0ff;
    cursor: pointer;
}

.main-content__button.selected {
    background-color: #0084ff;
   
}

.main-content__list {
    width: 200px;
}

.main-content__navigation {
    margin-left: 30px;
}

.content-item {
    display: none;
}

.content-item.active {
    display: block;
}


.main-content__details {
    width: 1600px;
    height: 860px;
    background: #f3f2f2;
    margin-top: 20px;
    border-radius: 10px;
}

.main-content__white-div {
    width: 310px;
    height: 130px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    display: flex;


}

.main-content__blocks-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 20px;

}

.main-content__title-bocks {
    font-family: "Open Sans";
    font-size: 16px;
    color: #686969;
    font-weight: 400;
}

.main-content__text {
    font-family: Roboto;
    font-weight: 600;
    font-size: 28px;
    margin: 0;
}

.main-content__info-text {
    font-family: Roboto;
    font-size: 12px;
    color: #cecdcd;
    margin-top: 10px;
    font-weight: 400;

}

.container-blue {
    width: 40px;
    height: 40px;
    background: #1b75ca;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 160px;
}

.container-green {
    width: 40px;
    height: 40px;
    background: #03703a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 124px;
}

.container-yellow{
    width: 40px;
    height: 40px;
    background: #f7d200;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 108px;
}

.container-red{
    width: 40px;
    height: 40px;
    background: #e74141;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 180px;
}

.main__content__img--task {
    width: 25px;
    height: 25px;
}

.main__content__img--comleted {
    width: 18px;
    height: 18px;
}

.main__content__img--task-in-progress{
    width: 20px;
    height: 20px;
}

.main__content__img--todo{
    width: 22px;
    height: 22px;
}

.main-content__graphik__container{
 display: flex;
 justify-content: center;
 margin-top: 80px;
}

.white-container{
width: 1410px;
height: 320px;
background: #ffffff;
border-radius: 5px;

}

.main-content__container-title{
    font-family: Roboto;
    font-weight: 500;
    color: #686969;
    padding-left: 18px;
    margin: 5px;
    padding-top: 10px;
}

.myChart{
margin-bottom: 30px;

}

.canvas-container{
    width: 1250px;
    height: 450px;
    padding-left: 60px;
   
}
