

.container {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.main-header__img {
    height: 80px;
    width: 80px;
}

.main-header__img--2 {
    height: 22px;
    width: 22px;
}



.taskMe {
    display: flex;
    align-items: center;
}

.main-header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
   
}

.main-header__newNotification {
    display: flex;
    align-items: center;
}


.main-header__form{
    margin-left: 130px;
     
}

.main-header__input{
    background-color: rgb(247, 241, 241);
    border-radius: 20px;
    width: 300px;
    height: 35px;
    font-family: Roboto;
    color: rgb(202, 201, 200);
    padding-left: 40px;
}

.main-header__input::placeholder{
    
    font-family: Roboto;
    color: rgb(202, 201, 200);
 
}

.profile__container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 255);
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10px;

}

.main-header__img-profile{
font-family: Roboto;
 padding-top: 15px;
}

.main-header__span{
background-color: red;
width: 13px;
height: 13px;
border-radius: 50%;
margin-bottom: 10px;

}

.main__content__img{
    width: 25px;
    height: 25px;
}

.main-content__item{
    display: flex;
}