.input-group {
    position: relative;
}

.input {
    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    width: 500px;
    height: 50px;
    padding-left: 20px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    font-family: Roboto;
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #e8e8e8;
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: black;
    padding: 0 .2em;
    color: #e8e8e8;
}

.resizable-input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    background-color: #f1f5f9;
    resize: horizontal;
    overflow: auto;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textarea {

    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;

    max-height: 120px;
    max-width: 500px;
    min-height: 50px;
    min-width: 500px;

    padding-left: 20px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea::placeholder {
    font-family: Roboto;
    position: absolute;
    left: 15px;
    color: #e8e8e8;

    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-input {
    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    width: 226px;
    height: 50px;
    padding-left: 20px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-right: 10px;
}

.main-input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.5);
}

.main-input:focus {
    border-color: #00ff75;
    outline: none;
}

.data-container {
    display: flex;
    gap: 10px;
}

.main-select {
    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background-color: #f5f5f5;
    width: 100%;
    width: 526px;
    height: 50px;
    padding-left: 15px;
    font-size: 1rem;
    color: #ffffff;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #080101;
    background-size: 20px;
    padding-right: 30px;

}

.main-option {
    font-family: Roboto;
    font-size: 1rem;
    color: #f5f5f5;
}

.main-select__container {
    position: relative;
    display: inline-block;
}

.main-select__container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    /* Отступ от правого края */
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    transform: translateY(-50%);
    pointer-events: none;
}

.task-category{
    position: relative;
}