.main-content {
    display: flex;
    gap: 150px;
}

.main-content__big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.input-group {
    position: relative;
}

.input {
    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    width: 500px;
    height: 50px;
    padding-left: 20px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    font-family: Roboto;
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-container {
    height: 200px;
    width: 523px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #e8e8e8;
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: black;
    padding: 0 .2em;
    color: #e8e8e8;
}

.resizable-input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    background-color: #f1f5f9;
    resize: horizontal;
    overflow: auto;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textarea {

    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;

    max-height: 120px;
    max-width: 500px;
    min-height: 50px;
    min-width: 500px;

    padding-left: 20px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea::placeholder {
    font-family: Roboto;
    position: absolute;
    left: 15px;
    color: #e8e8e8;

    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-input {
    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    width: 226px;
    height: 50px;
    padding-left: 20px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-right: 10px;
}

.main-input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.5);
}

.main-input:focus {
    border-color: #00ff75;
    outline: none;
}

.data-container {
    display: flex;
    gap: 10px;
}

.main-select {
    font-family: Roboto;
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background-color: #f5f5f5;
    width: 100%;
    width: 526px;
    height: 50px;
    padding-left: 15px;
    font-size: 1rem;
    color: #ffffff;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #080101;
    background-size: 20px;
    padding-right: 30px;

}

.main-option {
    font-family: Roboto;
    font-size: 1rem;
    color: #f5f5f5;
}

.main-select__container {
    position: relative;
    display: inline-block;
}

.main-select__container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    /* Отступ от правого края */
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    transform: translateY(-50%);
    pointer-events: none;
}

.task-category {
    position: relative;
}

.responsible-category {
    position: relative;
    display: flex;
    gap: 50px;
    margin-left: 90px;
}

.black-button {
    background: none;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border-color: #ffffff;
    box-shadow: none;
    margin-top: 10px;
}

.responsible__button {
    font-family: Roboto;
    color: #ffffff;
    font-size: 26px;
}

.main-content__navigation {
    margin-top: 30px;
}



.main__content__img {
    width: 25px;
    height: 25px;
}

.main__content__img--task2 {
    width: 25px;
    height: 25px;

}


.main-content__item {
    width: 150px;
    padding-top: 35px;
}

.main-content__button {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: background-color 0.3s ease;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 0;
}

.min-gap {
    gap: 10px;

}

.main-content__button--special {}

.main-content__button:hover {
    background-color: #e0f0ff;
    cursor: pointer;
}

.main-content__button.selected {
    background-color: #0084ff;

}

.main-content__list {
    width: 200px;
}

.main-content__navigation {
    margin-left: 30px;
}

.content-item {
    display: none;
}

.content-item.active {
    display: block;
}


.main-content__details {
    width: 90%;
    height: max-content;
    max-height: 840px;
    overflow-y: auto;
    background: #f3f2f2;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content__white-div {
    width: 310px;
    height: 130px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    display: flex;


}

.main-content__blocks-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 20px;

}

.main-content__title-bocks {
    font-family: "Open Sans";
    font-size: 16px;
    color: #686969;
    font-weight: 400;
}

.main-content__text {
    font-family: Roboto;
    font-weight: 600;
    font-size: 28px;
    margin: 0;
}

.main-content__info-text {
    font-family: Roboto;
    font-size: 12px;
    color: #cecdcd;
    margin-top: 10px;
    font-weight: 400;

}

.container-blue {
    width: 40px;
    height: 40px;
    background: #1b75ca;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 160px;
}

.container-green {
    width: 40px;
    height: 40px;
    background: #03703a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 124px;
}

.container-yellow {
    width: 40px;
    height: 40px;
    background: #f7d200;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 108px;
}

.container-red {
    width: 40px;
    height: 40px;
    background: #e74141;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 180px;
}

.main__content__img--task {
    width: 25px;
    height: 25px;
}

.main__content__img--comleted {
    width: 18px;
    height: 18px;
}

.main__content__img--task-in-progress {
    width: 20px;
    height: 20px;
}

.main__content__img--todo {
    width: 22px;
    height: 22px;
}

.main-content__graphik__container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.white-container {
    width: 1410px;
    height: 320px;
    background: #ffffff;
    border-radius: 5px;

}

.main-content__container-title {
    font-family: Roboto;
    font-weight: 500;
    color: #686969;
    padding-left: 18px;
    margin: 5px;
    padding-top: 10px;
}

.myChart {
    margin-bottom: 30px;

}

.canvas-container {
    width: 1250px;
    height: 450px;
    padding-left: 60px;

}

.main-content__info-list{
    width: 860px;
    height: 500px;
    background: #fff;
    border-radius: 5px;
    padding-top: 10px;
   
}

.title-container-and-text {
    display: flex;
}

.main-info__user-container {
    width: 500px;
    height: 420px;
    background: #fff;
    border-radius: 5px;
}

.main-info__list-container {
    display: flex;
    gap: 50px;
    margin-top: 110px;
    justify-content: center;
   
}

.task-title {
    width: 80px;
    color: #473420;
    font-family: Roboto;
    font-size: 15px;
    margin-left: 20px;

}

.task-info__text--2 {
    color: #473420;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;

}

.text-container--3 {
    width: 700px;
    padding-right: 30px;
    display: flex;
    justify-content: end;
    gap: 50px;

}

.main-info__color-task {
    width: 15px;
    height: 15px;
    background: #0084ff;
    border-radius: 50%;
    margin-left: 22px;
    margin-top: 15px;
}

.main-content__title-task {
    max-width: 300px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    flex-grow: 1; 
    margin-right: 10px;

}

.icon-people-task--1 {
    width: 25px;
    height: 25px;
    background: #0979e2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -5px;
}

.icon-people-task--2 {
    width: 25px;
    height: 25px;
    background: #dfbe03;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -5px;
}

.icon-people-task--3 {
    background: #e02e2e;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.pepole-text-icon {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 600;
    font-size: 12px;
}

.lvl-task,.main-info__data-text{
    display: flex;
    gap: 5px;
    width: 50px;
    font-family: "Montserrat";
    color: #757474;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;

}

.medium-img{
    margin-left: -20px;
}


.main-inf0__task-info{
    display: flex;
    gap: 8px;
}

.text-container--4{
    display: flex;
    gap: 30px;
    margin-left: 195px;
    
}

.icon-container{
    max-width: 70px;
    display: flex;
    margin-top: 10px;

}

.line {
    margin-left: 20px;
    width: 800px;
    height: 1px;
    background-color: rgb(224, 218, 218);
    
}

.medium-img{
    width: 14px;
    height: 14px;
   
}


.main-info__title-user{
    width: 80px;
    color: #473420;
    font-family: Roboto;
    font-size: 15px;
    margin-left: 20px;
}


.main-info__user-text-container{
    display: flex;
    padding-top: 15px;
}

.main-info__user-text-container--2{
    width: 350px;
    display: flex;
    gap: 30px;
    justify-content: end;
}


.line--2{
  margin-left: 20px;
    width: 450px;
    height: 1px;
    background-color: rgb(224, 218, 218);  
}

.user-avatar {
    width: 35px;
    height: 35px;
    background: #8c00ff;
    border-radius: 50%;
    color: white;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info__user-avatar-container {
    display: flex;
    align-items: center; 
    margin-top: 7px;
    margin-left: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.main-info__text-container {
    margin-left: 10px; 
    
}

.name-user {
    font-family: Roboto;
    color: #6b6b6b;
    font-size: 15px;
    margin: 0; 
}

.job-title {
    font-family: Roboto;
    color: #6b6b6b;
    font-size: 13px;
    margin: 0; 
    margin-top: 8px;
    width: 100px;
}

.blue{
    width: 65px;
    height: 30px;
    border-radius: 15px;
    background: #c6e0f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-user{
    font-family: Roboto;
    font-size: 14px;
    color: #838383;
}

.date-create-user{
    font-family: Roboto;
    font-size: 14px;
    color: #838383;
    
}

.main-info__container-active-user{
    display: flex;
    align-items: center;
    justify-content: end;
     gap: 20px;
    width: 300px;
}

.main-info__user-avatar-item{
    display: flex;
}