.container {
    position: relative;
    padding-top: 20px;
}

.main-header__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.main-header__link {
    font-family: "Archivo Black";
    font-size: 18px;
    color: #ffffff;
    text-decoration: none; /* Убираем подчеркивание текста */
}

.main-header__link:hover {
    background: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    text-shadow: 0px 0px 30px rgba(0, 255, 117, 0.7);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: gradient-animation 3s infinite;
}

.main-header__link--special {
    font-family: Roboto;
    font-size: 18px;
    color: #ffffff; /* Цвет текста на внутренней карточке */
    text-decoration: none; /* Убираем подчеркивание текста */
    text-shadow: 0px 0px 30px rgba(0, 255, 117, 0.30); /* Добавляем светящуюся тень к тексту */
}

.card {
    width: 250px;
    height: 160px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all 0.3s;
}

.card2 {
    width: 250px;
    height: 160px;
    background-color: #1a1a1a;
    border-radius: 1px;
    transition: all 0.2s;
    display: flex; /* Используем Flexbox */
    justify-content: center; /* Выравниваем по центру горизонтально */
    align-items: center; /* Выравниваем по центру вертикально */
    text-align: center;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}



@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
